MidTermClient/MidTermClient/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MidTerm" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MidTerm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Smartphone">
    <xs:sequence>
      <xs:element minOccurs="0" name="CpuSpeed" type="xs:double" />
      <xs:element minOccurs="0" name="RAM" type="xs:int" />
      <xs:element minOccurs="0" name="brandId" type="xs:int" />
      <xs:element minOccurs="0" name="cellularNetworkTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="simCardTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Smartphone" nillable="true" type="tns:Smartphone" />
</xs:schema>